<% include ./partials/header %>
<div class="ui sixteen column centered grid">
 <div class="fifteen wide mobile eight wide tablet six wide computer column">
		<div class="ui center aligned basic segment introText">
			<h4>Empecemos</h4>
			<p>La manera más inteligente de llevar tu negocio</p>
		</div>
		<form action="/signup" method="POST">
			<div class="ui segments">
				<div class="segment ui transparent input">
					<input type="email" name="user[email]" placeholder="Dirección de Correo electronico">
				</div>
				<div class="segment ui transparent input">
					<input type="email" name="user[emailConfirm]" placeholder="Confirmar Correo electronico">
				</div>
				<div class="segment ui transparent input">
					<input type="password" name="user[password]" placeholder="Contraseña (mínimo 8 caracteres)">
				</div>
			</div>
			<div class="ui fluid floating search selection dropdown" id="select">
				<input type="hidden" name="user[pais]">
				<i class="dropdown"></i>
				<div class="default text">Selecione su país</div>
				<div class="menu">
					<div class="item" data-value="AR"><i class="ar flag"></i>Argentina</div>
					<div class="item" data-value="BO"><i class="bo flag"></i>Bolivia</div>
					<div class="item" data-value="BR"><i class="br flag"></i>Brasil</div>
					<div class="item" data-value="CO"><i class="co flag"></i>Colombia</div>
					<div class="item" data-value="CL"><i class="cl flag"></i>Chile</div>
					<div class="item" data-value="PE"><i class="pe flag"></i>Peru</div>
					<div class="item" data-value="VE"><i class="ve flag"></i>Venezuela</div>
				</div>
			</div>
			<button type="submit" class="fluid ui button">Crear Cuenta</button>
		</form>
		<p class="basic center align ui segment">La manera más inteligente La manera más inteligente La manera más inteligente</p>
	</div>
</div>

<% include ./partials/footer %>